body {
    .table-light {
        --bs-table-bg: #{$gray-300};
    }
    .app-search .form-control {
        background-color: $gray-300;
    }
}
.navbar-header .user-dropdown-menu {
    min-width: 10.5rem;
}

// Overflow fix
.main-content {
    overflow: visible;
}

// Typography
h1, .h1 {
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

h2, .h2 {
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

h3, .h3 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

h4, .h4 {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

h5, .h5 {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

h6, .h6 {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

.font-size-26 {
    font-size: 26px!important;
}

// Cards
.card-disabled {
    opacity: 0.6;
}
.card-bg-img {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    &.card-bg-img-primary {
        background-image: linear-gradient(rgba($primary, 0.8)), url('/assets/images/card-bg-desaturated.png');
        color: #fff;
        cursor: pointer;
    }
    &.card-bg-img-disabled {
        background-image: linear-gradient(rgba(95, 100, 103, 0.8)), url('/assets/images/card-bg-desaturated.png');
        // color: #ecf1f2;
        // background-image: url('/assets/images/card-bg-desaturated.png');
        color: #fff;
        
    }

    .card-settings-icon {
        color: #fff;
        opacity: 0.8;
    }
}

// Tables
.td-fit {
    width: 1%!important;
    white-space: nowrap!important;
}

.table th.sorting {
    position: relative;
    cursor: pointer;
    &:before, &:after {
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3;
    }
    &:before {
        right: 1em;
        content: "↑";
    }
    &:after {
        right: 0.5em;
        content: "↓";
    }

    &.sorting_asc {
        &:before {
            opacity: 1;
        }
    }

    &.sorting_desc {
        &:after {
            opacity: 1;
        }
    }
}

// Inputs
.input-icon-right-group {
    position: relative;
    width: 100%;
    .form-control {
        padding-right: 42px;
    }
    .btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.input-group-icon-end {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: .25rem;
    .form-control {
        padding-right: 42px;
        background: transparent;
        z-index: 2;
    }
    .input-group-icon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

.select2_search ~ .select2 .select2-selection.select2-selection--multiple {
    background-image: url("../images/bx-search-alt.svg");
    background-repeat: no-repeat;
    background-position: top .47rem right .75rem;
    background-size: 16px;

}

// Buttons


// Profile page
.profile-avatar-edit {
    position: relative;
    max-width: 160px;

    &__img {
        max-width: 100%;
        height: auto;
        border-radius: 100%;
    }
    &__btn {
        cursor: pointer;
        width: 32px;
        height: 32px;
        background: $primary;
        color: #fff;
        border-radius: 100%;
        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        input {
            opacity: 0;
            visibility: hidden;
            width: 1px;
            height: 1px;
        }
    }
}

.client-avatar-md {
    width: 40px;
    height: auto;
}

.iEdit-img-edit-act.iEdit-img-edit-save {
    background: $success;
    color: #fff;
}

.iEdit-img-edit-act.iEdit-img-edit-cancel {
    background: $danger;
    color: #fff;
}

// Footer
@media (max-width: 992px) {
    .footer {
        left: 0;
    }
}

// Calendar
.tui-full-calendar-month-week-item .tui-full-calendar-today .tui-full-calendar-weekday-grid-date-decorator {
    background-color: $primary!important;
}

#calendar .tui-full-calendar-layout {
    word-wrap: initial;
}

// File Manager
.fm-body ~ .fm-info-block {
    flex-wrap: wrap;
    [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.fm-tree, .fm-content {
    padding-left: 15px;
    padding-right: 15px;
}

.fm-breadcrumb .breadcrumb.active-manager {
    // background: $light;
    // background: #e0e2e6;
    background: #f2f2f5;
}

.fm-breadcrumb .badge {
    color: inherit;
}

.fm-tree-branch li>p.selected, .fm-tree-branch li>p:hover {
    background: #f2f2f5;
}

.fm-navbar {
    margin-bottom: 0!important;
    .btn-group {
        margin-bottom: 1rem;
    }
}

// Chat
.chat-leftsidebar-nav .nav-link {
    position: relative;
    .badge {
        position: absolute;
        top: 0;
        right: -5px;
        transform: translateY(-50%);
        z-index: 2;
    }
}

.user-chat-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .user-chat {
        width: 100%;
    }
    .chat-leftsidebar {
        min-width: 260px;
    }
}

@media (min-width: 1200px) {
    .chat-leftsidebar {
        min-width: 380px;
    }
}


@media (max-width: 767.98px) {
    .user-chat {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        transition: opacity 0.3s ease-out;

        opacity: 0;
        visibility: hidden;
        z-index: -3;

        &.opened {
            z-index: 1002;
            opacity: 1;
            visibility: visible;
        }

        .user-chat-close-wrap {
            padding-right: 0;
        }

        .btn.user-chat-close {
            height: 40px;
            width: 40px;
            line-height: 40px;
            box-shadow: none;
            padding: 0;
            font-size: 16px;
            background-color: #eff2f7;
            border-radius: 50%;
        }
        
        
    }
    .chat-input-links li a {
        padding: 0;
    }
    .chat-input-section {
        .col-auto {
            padding-left: 0!important;
            display: flex;
        }
        .chat-input {
            padding-right: 90px;
        }
        .chat-send {
            padding: 3px 6px;
            align-self: center;
        }
    }
}

// Dashboard
[class^="avatar-"].img-thumbnail {
    border-color: $light;
    background: $light;
}

// Datatable Pagination
.dataTables_paginate {
    .page-item .page-link {
        border-radius: 30px!important;
        margin: 0 3px!important;
        border: none;
        width: 32px;
        height: 32px;
        padding: 0;
        text-align: center;
        line-height: 32px;
    }
}

.paginate_button.page-item.next .page-link {
    font-size: 0;
    color: transparent;
    position: relative;
    &:after {
        content:"";
        width: 13px;
        height: 19px;
        display: block;
        background: url('/assets/images/mdi-chevron-right.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.page-item.next .page-link:focus, .page-item.next .page-link:hover {
    &:after {
        background: url('/assets/images/mdi-chevron-right-hover.svg') no-repeat center;
        background-size: contain;
    }
}

.page-item.next.disabled .page-link {
    &:after {
        background: url('/assets/images/mdi-chevron-right-disabled.svg') no-repeat center;
        background-size: contain;
    }
}

.paginate_button.page-item.previous .page-link {
    font-size: 0;
    color: transparent;
    position: relative;
    &:after {
        content:"";
        width: 13px;
        height: 19px;
        display: block;
        background: url('/assets/images/mdi-chevron-left.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.page-item.previous .page-link:focus, .page-item.previous .page-link:hover {
    &:after {
        background: url('/assets/images/mdi-chevron-left-hover.svg') no-repeat center;
        background-size: contain;
    }
}

.page-item.previous.disabled .page-link {
    &:after {
        background: url('/assets/images/mdi-chevron-left-disabled.svg') no-repeat center;
        background-size: contain;
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
}

// Timepicker
.timepicker-parent .bootstrap-timepicker-widget {
    z-index: 1050;
    top: 100%!important;
    left: 0!important;
}